<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Analysis.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />
    </system.web>

  <system.web>
    <pages validateRequest="false" />
  </system.web>

    <applicationSettings>
        <Analysis.Service.Properties.Settings>
            <setting name="Analysis_Service_PaltService_RequestNote" serializeAs="String">
                <value>http://168.168.252.111:4463/RequestNote</value>
            </setting>
        </Analysis.Service.Properties.Settings>
    </applicationSettings>
</configuration>
